Text sections:

Function signatures:
UD2 :: RAX
insert_mapping.cold.9 :: RAX
schedule_rename.cold.10 :: RAX
commit_direntries.cold.11 :: RAX
check_directory_consistency.cold.12 :: RAX
try_commit.cold.13 :: RAX
read_directory.cold.14 :: RAX
vvfat_open.cold.15 :: RAX
atexit :: RAX
__ctype_toupper_loc :: RAX
getenv :: RAX
sigprocmask :: RAX
__snprintf_chk :: RAX
free :: RAX
recv :: RAX
putchar :: RAX
pthread_create :: RAX
__vfprintf_chk :: RAX
abort :: RAX
__errno_location :: RAX
unlink :: RAX
strncmp :: RAX
localtime_r :: RAX
inflate :: RAX
mkdir :: RAX
puts :: RAX
sigaction :: RAX
setsockopt :: RAX
write :: RAX
getpid :: RAX
__xstat64 :: RAX
opendir :: RAX
rmdir :: RAX
strlen :: RAX
__stack_chk_fail :: RAX
send :: RAX
strchr :: RAX
__fdelt_chk :: RAX
snprintf :: RAX
strrchr :: RAX
gettimeofday :: RAX
__assert_fail :: RAX
deflate :: RAX
memset :: RAX
ioctl :: RAX
close :: RAX
__realpath_chk :: RAX
pipe :: RAX
closedir :: RAX
fputc :: RAX
deflateInit2_ :: RAX
memchr :: RAX
read :: RAX
memcmp :: RAX
mkstemp64 :: RAX
pthread_attr_init :: RAX
pthread_cond_signal :: RAX
calloc :: RAX
__fxstat64 :: RAX
strcmp :: RAX
gethostbyname :: RAX
__memcpy_chk :: RAX
sigemptyset :: RAX
strtol :: RAX
sigfillset :: RAX
memcpy :: RAX
inflateEnd :: RAX
kill :: RAX
time :: RAX
select :: RAX
inet_aton :: RAX
pthread_attr_setdetachstate :: RAX
mmap64 :: RAX
pthread_mutex_unlock :: RAX
__open64_2 :: RAX
malloc :: RAX
fflush :: RAX
listen :: RAX
sscanf :: RAX
deflateEnd :: RAX
realloc :: RAX
munmap :: RAX
ftruncate64 :: RAX
__printf_chk :: RAX
inflateInit_ :: RAX
bind :: RAX
open64 :: RAX
strftime :: RAX
fcntl64 :: RAX
memmove :: RAX
readdir64 :: RAX
lockf64 :: RAX
fsync :: RAX
pthread_cond_timedwait :: RAX
tcgetattr :: RAX
tcsetattr :: RAX
inflateInit2_ :: RAX
perror :: RAX
rename :: RAX
getopt :: RAX
strtoul :: RAX
__cxa_atexit :: RAX
inflateReset :: RAX
getpagesize :: RAX
exit :: RAX
connect :: RAX
fwrite :: RAX
lseek64 :: RAX
__fprintf_chk :: RAX
posix_memalign :: RAX
strdup :: RAX
strerror :: RAX
sigaddset :: RAX
strstr :: RAX
pthread_mutex_lock :: RAX
__ctype_tolower_loc :: RAX
__ctype_b_loc :: RAX
socket :: RAX
qemu_malloc.cold.0 :: RAX
qemu_realloc.cold.1 :: RAX
qemu_mallocz.cold.2 :: RAX
qemu_strdup.cold.3 :: RAX
qemu_strndup.cold.4 :: RAX
main :: EDI => RSI => EAX
term_exit :: RAX
format_print :: RAX
error :: RAX
dump_snapshots :: RAX
help :: RAX
img_info :: RAX
img_snapshot :: RAX
bdrv_new_open :: RAX
img_convert :: RAX
qemu_service_io :: RAX
term_printf :: RAX
term_print_filename :: RAX
qemu_bh_new :: RAX
qemu_bh_poll :: EAX
qemu_bh_schedule :: RDI => RAX
qemu_bh_cancel :: RAX
qemu_bh_delete :: RAX
qemu_set_fd_handler2 :: EAX
qemu_get_clock :: RAX
qemu_read :: RAX
qemu_read_ok :: EAX
qemu_write :: RAX
qemu_write_ok :: EAX
qemu_memalign :: RAX
qemu_vmalloc :: RAX
qemu_vfree :: RAX
qemu_create_pidfile :: RAX
socket_set_nonblock :: RAX
pstrcpy :: RAX
pstrcat :: RAX
strstart :: RAX
stristart :: RAX
mktimegm :: RAX
qemu_fls :: EDI => EAX
qemu_iovec_init :: RAX
qemu_iovec_add :: RAX
qemu_iovec_destroy :: RDI => RAX
qemu_iovec_reset :: RDI => RAX
qemu_iovec_to_buffer :: RDI => RAX
qemu_iovec_from_buffer :: RDI => RAX
get_mmap_addr :: RAX
qemu_free :: RDI => RAX
qemu_malloc :: RAX
qemu_realloc :: RDI => ESI => RAX
qemu_mallocz :: RAX
qemu_strdup :: RAX
qemu_strndup :: RAX
cow_is_allocated :: RAX
cow_close :: RAX
cow_write :: RAX
cow_read :: RAX
cow_open :: RAX
cow_probe :: RAX
cow_create :: RAX
qcow_get_info :: RAX
qcow_make_empty :: RAX
qcow_aio_flush :: RAX
qcow_aio_cancel :: RAX
qcow_flush :: RDI => RAX
qcow_close :: RAX
qcow_open :: RAX
encrypt_sectors.isra.0 :: RAX
decompress_cluster :: RAX
qcow_set_key :: RAX
get_cluster_offset.isra.1 :: RAX
qcow_write_compressed :: RAX
qcow_is_allocated :: RAX
qcow_aio_write_cb :: RAX
qcow_aio_write :: RAX
qcow_aio_read_cb :: RAX
qcow_aio_read :: RAX
qcow_probe :: RAX
qcow_create :: RAX
AES_set_encrypt_key :: RAX
AES_set_decrypt_key :: RAX
AES_encrypt :: RAX
AES_decrypt :: RAX
AES_cbc_encrypt :: RAX
vmdk_flush :: RDI => RAX
vmdk_snapshot_create :: RAX
vmdk_close :: RAX
vmdk_probe :: RAX
vmdk_read_cid.isra.2 :: RAX
vmdk_is_cid_valid.isra.3 :: RAX
get_cluster_offset :: RAX
vmdk_is_allocated :: RAX
vmdk_read :: RAX
vmdk_write_cid.isra.7 :: RAX
vmdk_write :: RAX
vmdk_parent_open.isra.8 :: RAX
vmdk_open :: RAX
vmdk_create.part.5 :: RAX
vmdk_create :: RAX
cloop_close :: RAX
cloop_read :: RAX
cloop_probe :: RAX
cloop_open :: RAX
dmg_close :: RAX
dmg_read :: RAX
read_uint32 :: RAX
read_off :: RAX
dmg_open :: RAX
dmg_probe :: RAX
bochs_close :: RAX
bochs_read :: RAX
bochs_open :: RAX
bochs_probe :: RAX
vpc_close :: RAX
vpc_write :: RAX
vpc_read :: RAX
vpc_open :: RAX
vpc_probe :: RAX
vpc_create :: RAX
is_file :: RAX
adjust_dirindices :: RAX
vvfat_is_allocated :: RAX
vvfat_close :: RAX
array_remove :: RAX
remove_mapping :: RAX
insert_mapping :: RAX
insert_direntries :: RAX
remove_direntries :: RAX
vvfat_read :: RAX
write_target_close :: RAX
schedule_rename :: RAX
array_index :: RAX
commit_mappings :: RAX
commit_one_file :: RAX
commit_direntries :: RAX
parse_long_name :: RAX
check_directory_consistency :: RAX
try_commit :: RAX
vvfat_write :: RAX
write_target_commit :: RDI => RAX
fat_datetime.constprop.8 :: RAX
read_directory :: RAX
vvfat_open :: RAX
qcow_make_empty :: RAX
qcow_get_info :: RAX
qcow_get_buffer :: RAX
qcow_put_buffer :: RAX
qcow_snapshot_list :: RAX
qcow_aio_cancel :: RAX
get_refcount.isra.4 :: RAX
alloc_clusters_noref :: RAX
l2_load.isra.5 :: RAX
qcow_free_snapshots.isra.7 :: RAX
find_snapshot_by_id.isra.8 :: RAX
find_snapshot_by_id_or_name.isra.9 :: RAX
decompress_cluster :: RAX
qcow_set_key :: RAX
encrypt_sectors.isra.12 :: RAX
qcow_schedule_bh.constprop.13 :: RAX
qcow_probe :: RAX
count_contiguous_clusters> :: RAX
get_cluster_offset :: RAX
qcow_is_allocated :: RAX
qcow_aio_read_cb :: RAX
qcow_aio_read :: RAX
qcow_aio_read_bh :: RAX
create_refcount_update :: RAX
qcow_create :: RAX
qcow_open :: RAX
copy_sectors :: RAX
update_cluster_refcount :: RAX
update_refcount :: RAX
free_any_clusters :: RAX
alloc_clusters :: RAX
grow_l1_table :: RAX
get_cluster_table :: RAX
alloc_cluster_offset :: RAX
alloc_cluster_link_l2 :: RAX
qcow_aio_write_cb :: RAX
qcow_aio_write :: RAX
qcow_write_snapshots :: RAX
update_snapshot_refcount :: RAX
qcow_snapshot_goto :: RAX
qcow_snapshot_delete :: RAX
qcow_snapshot_create :: RAX
parallels_close :: RAX
parallels_read :: RAX
parallels_open :: RAX
parallels_probe :: RAX
nbd_getlength :: RDI => RAX
nbd_close :: RDI => RAX
nbd_write :: RAX
nbd_read :: RAX
nbd_open :: RAX
nbd_wr_sync :: RAX
nbd_send_reply.isra.0 :: RAX
tcp_socket_outgoing :: RAX
tcp_socket_incoming :: RAX
unix_socket_incoming :: RAX
unix_socket_outgoing :: RAX
nbd_negotiate :: RAX
nbd_receive_negotiate :: RAX
nbd_init :: RAX
nbd_disconnect :: RAX
nbd_client :: RAX
nbd_send_request :: RAX
nbd_receive_reply :: RAX
nbd_trip :: RAX
bdrv_register :: RAX
bdrv_invalid_protocol_open :: RAX
bdrv_aio_cancel_vector :: RDI => RAX
bdrv_rw_em_cb :: RDI => ESI => RAX
find_protocol :: RAX
bdrv_aio_rw_vector_cb :: RAX
bdrv_aio_bh_cb :: RAX
bdrv_aio_cancel_em :: RAX
bdrv_check_byte_request :: RAX
path_is_absolute :: RAX
path_combine :: RAX
bdrv_new :: RAX
bdrv_find_format :: RAX
bdrv_create :: RAX
get_tmp_filename :: RAX
bdrv_delete :: RAX
bdrv_close :: RAX
bdrv_read :: RAX
bdrv_pread_em :: RAX
guess_disk_lchs :: RAX
bdrv_write :: RAX
bdrv_commit :: RAX
bdrv_pwrite_em :: RAX
bdrv_pread :: RAX
bdrv_open2 :: RAX
bdrv_file_open :: RAX
bdrv_open :: RAX
bdrv_pwrite :: RAX
bdrv_truncate :: RAX
bdrv_getlength :: RAX
bdrv_get_geometry :: RAX
bdrv_guess_geometry :: RAX
bdrv_set_geometry_hint :: RDI => ESI => EDX => ECX => RAX
bdrv_set_type_hint :: RDI => ESI => AL
bdrv_set_translation_hint :: RDI => ESI => RAX
bdrv_get_geometry_hint :: RAX
bdrv_get_type_hint :: RAX
bdrv_get_translation_hint :: RDI => EAX
bdrv_is_removable :: RDI => EAX
bdrv_is_read_only :: RDI => EAX
bdrv_is_sg :: RDI => EAX
bdrv_set_change_cb :: RDI => RSI => RDX => RAX
bdrv_is_encrypted :: RDI => EAX
bdrv_key_required :: RDI => AL
bdrv_set_key :: RAX
bdrv_get_format :: RDI => RSI => RAX
bdrv_iterate_format :: RAX
bdrv_find :: RAX
bdrv_iterate :: RAX
bdrv_get_device_name :: RDI => RAX
bdrv_flush :: RAX
bdrv_flush_all :: RAX
bdrv_is_allocated :: RAX
bdrv_info :: RAX
bdrv_info_stats :: RAX
bdrv_get_encrypted_filename :: RAX
bdrv_get_backing_filename :: RAX
bdrv_write_compressed :: RAX
bdrv_get_info :: RAX
bdrv_put_buffer :: RAX
bdrv_get_buffer :: RAX
bdrv_snapshot_create :: RAX
bdrv_snapshot_goto :: RAX
bdrv_snapshot_delete :: RAX
bdrv_snapshot_list :: RAX
get_human_readable_size :: RAX
bdrv_snapshot_dump :: RAX
bdrv_aio_read :: RAX
bdrv_read_em :: RAX
bdrv_aio_write :: RAX
bdrv_aio_rw_vector :: RAX
bdrv_aio_readv :: RAX
bdrv_aio_writev :: RAX
bdrv_write_em :: RAX
bdrv_aio_cancel :: RDI => RAX
bdrv_aio_flush :: RAX
bdrv_init :: RAX
aio_pool_init :: RDI => ESI => RDX => RAX
qemu_aio_get_pool :: RAX
qemu_aio_get :: RDI => RSI => RDX => RAX
bdrv_aio_flush_em :: RAX
bdrv_aio_read_em :: RAX
bdrv_aio_write_em :: RAX
qemu_aio_release :: RDI => RAX
bdrv_is_inserted :: RAX
bdrv_media_changed :: RAX
bdrv_eject :: RAX
bdrv_is_locked :: RDI => EAX
bdrv_set_locked :: RDI => ESI => RAX
bdrv_ioctl :: RAX
qemu_aio_wait.part.0 :: RAX
qemu_aio_set_fd_handler :: RAX
qemu_aio_flush :: RAX
qemu_aio_wait :: RAX
die2 :: RDI => RSI => RAX
die :: RDI => RAX
fsync_like_pwrite :: RAX
mutex_unlock.constprop.4 :: RAX
mutex_lock.constprop.5 :: RAX
qemu_paio_submit :: RAX
aio_thread :: RAX
qemu_paio_init :: RAX
qemu_paio_read :: RAX
qemu_paio_write :: RAX
qemu_paio_fsync :: RAX
qemu_paio_return :: RAX
qemu_paio_error :: RAX
qemu_paio_cancel :: RAX
posix_aio_flush :: RAX
fd_open :: RAX
raw_getlength :: RAX
raw_media_changed :: RAX
raw_create :: RAX
raw_pread_aligned :: RAX
raw_pread :: RAX
raw_aio_setup :: RAX
raw_aio_em_cb :: RAX
raw_ioctl :: RAX
raw_set_locked :: RAX
raw_close :: RAX
posix_aio_read :: RAX
aio_signal_handler :: RAX
raw_eject :: RAX
raw_pwrite_aligned :: RAX
raw_pwrite :: RAX
raw_aio_remove :: RAX
raw_aio_flush :: RAX
raw_aio_cancel :: RAX
raw_aio_read :: RAX
raw_flush :: RAX
raw_is_inserted :: RAX
posix_aio_init.part.8 :: RAX
raw_open :: RAX
hdev_open :: RAX
raw_truncate :: RAX
count_contiguous_clusters :: RAX
rep_stos_ESRDI_RAX :: RDI => RAX => RCX => RAX
repz_cmps_DSRSI_ESRDI :: RSI => RDI => RCX => RAX
rep_movs_ESRDI_DSRSI :: RDI => RSI => RCX => RAX

Function types:

Data:

Preamble:
